doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(name="color-scheme" content="light")
  title Login
  link(rel='stylesheet' href='/css/styles.css')
  link(rel='icon' href='/images/Instagram_icon.png')
.loginBox
  form.loginForm(action='/api/user/login' method='post')
    h1 Welcome back
    p.errmsg #{errormsg}
    input(type='text' placeholder='Username' name='username' value=username)
    input(type='password' placeholder='Password' name='password' value=password)
    input(type='submit' value='Login' class='sbtbtn')
    span
      | Dont have an account? 
      a(href='/signup') Sign up
